body {
	background-color:black;
}

h1{
	color:white;
}
#main{
	margin: 200px 50px 100px 200px;
	position: absolute;
}

#sub{
	margin: 325px 50px 50px 500px;
	height:20px;
}
#cursor{
	position:absolute;
	margin: 325px 50px 50px -48px;
	
}
#twitter{
	height:40px;
	margin-top:450px;
	position:absolute;
}

#instagram{
	height:42px;
	margin-top:450px;
	margin-left:50px;
	position:absolute;
}
/*#instagram{
	height:42px;
	margin-top:450px;
	margin-left:100px;
	position:absolute;
}*/